

<!-- <button mat-icon-button [matMenuTriggerFor]="menu" >
<mat-icon>menu</mat-icon>
</button>
<button mat-icon-button >
<span>PETSTATION</span>
</button>
<mat-menu  #menu>
<button mat-menu-item routerLink="/">
<mat-icon>library_books</mat-icon>
<span>course</span>
</button>
<button mat-menu-item routerLink="/">
<mat-icon>web</mat-icon>
<span>course</span>
</button>
</mat-menu>  -->


<mat-toolbar class="custom-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >menu</mat-icon>
      </button>
      <h1 >PETSTION</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink=" ">create-account</a>
        <a mat-button routerLink="">Login</a>
        <a mat-button routerLink="/petdetail">petdetail </a>
        <a mat-button ></a>
        <a mat-button>  </a>
        <a mat-button > </a>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row >
        <span  class="tagline">Petstation helps you to meet your pets</span>
      </mat-toolbar-row>
  </mat-toolbar>
  