<div >
    
    <mat-card class="mat-card-elevation=z4">
        <mat-card-header>
            <mat-card-title></mat-card-title>
           </mat-card-header>
           <div class="col-md-4 thumbnail margin-left-50">
            <img width="250" height="250" src="assets/img/hamster.PNG" >
       </div>
           <mat-card-content>
           <p></p>
           </mat-card-content>
           <mat-card-actions>
               
               <button mat-button >AddtoCart</button>
               <button mat-button >Details</button>
           </mat-card-actions>
          
        </mat-card> 


    

</div>
